<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.store.mapper.PwCommodityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.boot.store.entity.PwCommodity">
        <id column="id" property="id" />
        <result column="commodity_num" property="commodityNum" />
        <result column="name" property="name" />
        <result column="picture" property="picture" />
        <result column="count" property="count" />
        <result column="sellCount" property="sellCount" />
        <result column="purchase_price" property="purchasePrice" />
        <result column="sell_price" property="sellPrice" />
        <result column="channel_id" property="channelId" />
        <result column="commodity_type_id" property="commodityTypeId" />
        <result column="status" property="status" />
        <result column="discount" property="discount" />
        <result column="discount_rate" property="discountRate" />
        <result column="promotion" property="promotion" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, commodity_num, name, picture, count,sell_count, purchase_price, sell_price, channel_id, commodity_type_id, status, discount, discount_rate, promotion, remark, create_time, update_time,deleted
    </sql>

    <select id="list" resultType="com.boot.store.dto.commodity.CommodityDto">
        SELECT
            commodity.id as id,
            commodity.name,
            commodity.commodity_num as commodityNum,
            commodity.picture,
            commodity.count,
            commodity.sell_count as sellCount,
            (commodity.count - commodity.sell_count) as stockCount,
            commodity.purchase_price as purchasePrice,
            commodity.sell_price as sellPrice,
            commodity.channel_id as channelId,
            commodity.commodity_type_id as commodityTypeId,
            commodity.`status`,
            commodity.discount,
            commodity.discount_rate as discountRate,
            commodity.promotion,
            commodity.remark,
            commodity.create_time as createTime,
            commodity.update_time as updateTime,
            channel.channel_name as channelName,
            type.name as commodityTypeName
        FROM pw_commodity commodity LEFT JOIN pw_channel channel on commodity.channel_id = channel.id
        LEFT JOIN pw_commodity_type type on commodity.commodity_type_id = type.id
        WHERE 1=1 AND commodity.deleted = 0
        <if test="name != null and name != '' ">
            and commodity.name like concat('%','${name}','%')
        </if>
        <if test="channelId != null and channelId != '' ">
            and commodity.channel_id = #{channelId}
        </if>
        <if test="commodityTypeId != null and commodityTypeId != '' ">
            and commodity.commodity_type_id = #{commodityTypeId}
        </if>
        ORDER BY commodity.create_time desc
        LIMIT #{page},#{limit}
    </select>

    <select id="count" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM pw_commodity commodity LEFT JOIN pw_channel channel on commodity.channel_id = channel.id
        LEFT JOIN pw_commodity_type type on commodity.commodity_type_id = type.id
        WHERE 1=1 AND commodity.deleted = 0
        <if test="name != null and name != '' ">
            and commodity.name like concat('%','${name}','%')
        </if>
        <if test="channelId != null and channelId != '' ">
            and commodity.channel_id = #{channelId}
        </if>
        <if test="commodityTypeId != null and commodityTypeId != '' ">
            and commodity.commodity_type_id = #{commodityTypeId}
        </if>
    </select>

    <select id="sellRecord" resultType="com.boot.store.dto.commodity.CommoditySellRecordDto">
        SELECT
            sale.order_num AS orderNum,
            commodity.commodity_num AS commodityNum,
            commodity.NAME AS NAME,
            type.`name` AS commodityTypeName,
            channel.channel_name AS channelName,
            sale.count AS sellCount,
            sale.purchase_quota AS purchasePrice,
            sale.count * sale.quota as sellMoney,
            (sale.quota - sale.purchase_quota) * sale.count as profit,
            sale.quota AS sellPrice,
            IF(member.id IS NULL,'普通客户',member.NAME) AS customType,
            member.id AS memberId,
            sale.remark,
            sale.create_time AS createTime
        FROM
            pw_purchase_sales sale
        LEFT JOIN pw_commodity commodity ON sale.commodity_id = commodity.id
        LEFT JOIN pw_commodity_type type ON commodity.commodity_type_id = type.id
        LEFT JOIN pw_channel channel ON sale.channel_id = channel.id
        LEFT JOIN pw_member member ON sale.member_id = member.id
        WHERE
            1 = 1
        <if test="id != null and id != '' ">
            AND commodity.id = #{id}
        </if>
        <if test="orderNum != null and orderNum != '' ">
            AND sale.order_num = #{orderNum}
        </if>
        <if test="name != null and name != '' ">
            AND commodity.NAME = #{name}
        </if>
        <if test="commodityNum != null and commodityNum != '' ">
            AND commodity.commodity_num = #{commodityNum}
        </if>
        <if test="commodityTypeId != null and commodityTypeId != '' ">
            AND commodity.commodity_type_id = #{commodityTypeId}
        </if>
        <if test="commodityNumChannelId != null and commodityNumChannelId != '' ">
            AND channel.id = #{commodityNumChannelId}
        </if>
        <if test="date != null and date != '' ">
            AND DATE_FORMAT(sale.create_time, '%Y-%m-%d') = #{date}
        </if>
        ORDER BY sale.create_time desc
        LIMIT #{page},#{limit}
    </select>

    <select id="sellRecordCount" resultType="java.lang.Long">
        SELECT
        count(*)
        FROM
        pw_purchase_sales sale
        LEFT JOIN pw_commodity commodity ON sale.commodity_id = commodity.id
        LEFT JOIN pw_commodity_type type ON commodity.commodity_type_id = type.id
        LEFT JOIN pw_channel channel ON sale.channel_id = channel.id
        LEFT JOIN pw_member member ON sale.member_id = member.id
        WHERE
        1 = 1
        <if test="id != null and id != '' ">
            AND commodity.id = #{id}
        </if>
        <if test="orderNum != null and orderNum != '' ">
            AND sale.order_num = #{orderNum}
        </if>
        <if test="name != null and name != '' ">
            AND commodity.NAME = #{name}
        </if>
        <if test="commodityNum != null and commodityNum != '' ">
            AND commodity.commodity_num = #{commodityNum}
        </if>
        <if test="commodityTypeId != null and commodityTypeId != '' ">
            AND commodity.commodity_type_id = #{commodityTypeId}
        </if>
        <if test="commodityNumChannelId != null and commodityNumChannelId != '' ">
            AND channel.id = #{commodityNumChannelId}
        </if>
        <if test="date != null and date != '' ">
            AND DATE_FORMAT(sale.create_time, '%Y-%m-%d') = #{date}
        </if>
    </select>

</mapper>
