<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.store.mapper.PwPetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.boot.store.entity.PwPet">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="pet_type_id" property="petTypeId" />
        <result column="picture" property="picture" />
        <result column="source" property="source" />
        <result column="status" property="status" />
        <result column="start_time" property="startTime" />
        <result column="remark" property="remark" />
        <result column="sell_price" property="sellPrice" />
        <result column="purchase_price" property="purchasePrice" />
        <result column="sell_date" property="sellDate" />
        <result column="create_time" property="createTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, pet_type_id, picture, source, status, start_time, remark, sell_price, purchase_price, sell_date, create_time, deleted
    </sql>
    <select id="list" resultType="com.boot.store.entity.PwPet">
        SELECT
        pet.id,
        pet.NAME,
        type.pet_name AS petType,
        pet.source,
        pet.`status`,
        pet.start_time AS startTime,
        pet.purchase_price AS purchasePrice,
        pet.sell_price AS sellPrice,
        pet.sell_date AS sellDate,
        pet.remark
    FROM
        pw_pet pet
        LEFT JOIN pw_pet_type type ON pet.pet_type_id = type.id
    WHERE
        1 = 1
        <if test="name != null and name != '' ">
            AND pet.NAME = #{name}
        </if>
        <if test="typeId != null and typeId != '' ">
            AND pet.pet_type_id = #{typeId}
        </if>
        AND pet.deleted = 0
    ORDER BY
        pet.create_time DESC
        LIMIT #{page},#{limit}
    </select>
    <select id="count" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM
        pw_pet pet
        LEFT JOIN pw_pet_type type ON pet.pet_type_id = type.id
        WHERE
        1 = 1
        <if test="name != null and name != '' ">
            AND pet.NAME = #{name}
        </if>
        <if test="typeId != null and typeId != '' ">
            AND pet.pet_type_id = #{typeId}
        </if>
        AND pet.deleted = 0
    </select>

</mapper>
