<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.store.mapper.PwPurchaseSalesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.boot.store.entity.PwPurchaseSales">
        <id column="id" property="id" />
        <result column="order_num" property="orderNum" />
        <result column="commodity_id" property="commodityId" />
        <result column="count" property="count" />
        <result column="channel_id" property="channelId" />
        <result column="member_id" property="memberId" />
        <result column="quota" property="quota" />
        <result column="consumer_type" property="consumerType" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_num, commodity_id, count, channel_id, member_id, quota, consumer_type, remark, create_time
    </sql>

</mapper>
