<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.store.mapper.PwStockRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.boot.store.entity.PwStockRecord">
        <id column="id" property="id" />
        <result column="commodity_id" property="commodityId" />
        <result column="type" property="type" />
        <result column="before_count" property="beforeCount" />
        <result column="after_count" property="afterCount" />
        <result column="before_price" property="beforePrice" />
        <result column="after_price" property="afterPrice" />
        <result column="before_money" property="beforeMoney" />
        <result column="after_money" property="afterMoney" />
        <result column="opt_id" property="optId" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, commodity_id, type, before_count, after_count, before_price, after_price, before_money, after_money, opt_id, remark, create_time
    </sql>

</mapper>
